<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat!</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid bg-dark" >
        <nav class="container navbar navbar-expand-lg navbar-dark">

            <header class="navbar navbar-collapse">
                <!-- <div class="navbar-brand">Dutch treat!</div> -->
                <a class="navbar-brand" href="#"><i class="fa fa-paper-plane"></i>Movie Treat</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" >&#9774;</button>
                <div id="menu" class="collapse navbar-collapse" > 
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="Index">Home </a></li>

                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="Contact">Contact</a></li>

                        <li class="nav-item"><a asp-controller="App" asp-action="About">About</a></li>
                        
                    </ul>
                 </div>
             
            </header>


</div>
    <section>

        <h3 class="text-center"> @ViewBag.title </h3>
        @RenderBody()
    </section>

   <!-- <script>document.write(new Date().getFullYear())</script>-->

    <footer class="container">
    
        <div class="text-center">
        &copy; <script>document.write(new Date().getFullYear())</script>  All Rights Reserved.
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

