<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat!</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/css/site.css" rel="stylesheet" />

    </environment>
    <environment names="Staging,Production">


        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link href="~/css/site.css" rel="stylesheet" />

    </environment>

    
    

</head>
<body>
    <div class="container-fluid bg-dark" >
        <nav class="container navbar navbar-expand-lg navbar-dark">

            <header class="navbar navbar-collapse">
                <!-- <div class="navbar-brand">Dutch treat!</div> -->
                <a class="navbar-brand" href="#"><i class="fa fa-paper-plane"></i>Movie Treat</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" >&#9774;</button>
                <div id="menu" class="collapse navbar-collapse" > 
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="Index">Home </a></li>

                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="Contact">Contact</a></li>

                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="About">About</a></li>

                        <li class="nav-item mr-2"><a asp-controller="App" asp-action="Shop">Shop</a></li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mr-2"><a asp-controller="Account" asp-action="Logout">Logout</a></li>

                        }
                        else
                        {
                            <li class="nav-item mr-2"><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }

                    </ul>
                 </div>
             
            </header>
            </nav>


</div>
    <section>

        <h3 class="text-center"> @ViewBag.title </h3>
        @RenderBody()
    </section>

   <!-- <script>document.write(new Date().getFullYear())</script>-->

    <footer class="container">
    
        <div class="text-center">
        &copy; <script>document.write(new Date().getFullYear())</script>  All Rights Reserved.
        </div>
    </footer>


    <environment names="Development">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/index.js"></script>
    </environment>
    <environment names="Staging,Production">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="Window.jQuery"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery&& window.jQuery.fn&&window.jQuery.fn.modal"></script>

        <script src="~/js/index.js"></script>

        <script src="~/dist/dutchtreat.min.js" asp-append-version="true"></script>

    </environment>


    @RenderSection("scripts", false)
</body>
</html>

